// Columns widths
mat-column {
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  flex: 0 0 15% !important;
  width: 15% !important;
}

.mat-column-medication {
  flex: 0 0 50% !important;
  width: 50% !important;
}

.form-wrap {
  margin: 5px;
  height: 100%;
  overflow: auto;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px 16px;
}

.radio-button-label {
  padding-left: 0 !important;
}

mat-step-header {
  &:nth-of-type(1) {
    .mat-step-icon-selected {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'A';
        }
      }
    }
    .mat-step-icon-state-number {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'A';
        }
      }
    }
  }
  &:nth-of-type(2) {
    .mat-step-icon-selected {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'B';
        }
      }
    }
    .mat-step-icon-state-number {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'B';
        }
      }
    }
  }
  &:nth-of-type(3) {
    .mat-step-icon-selected {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'C';
        }
      }
    }
    .mat-step-icon-state-number {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'C';
        }
      }
    }
  }
  &:nth-of-type(4) {
    .mat-step-icon-selected {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'D';
        }
      }
    }
    .mat-step-icon-state-number {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'D';
        }
      }
    }
  }
}

#cdk-step-content-0-0 {
  .yellow-form {
    div.form-field {
      &:nth-child(1),
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.mat-form-field-required-marker {
  color: red;
}


// DC
.yellow-card {
  background-color: #FFD700 !important;
  margin: 0 rem;
  padding: 0;
  margin: 0rem;
}
.title-background {
  background-color: rgb(32, 32, 77);
  color: rgb(247, 244, 252); /* Set text color to ensure readability */
}
.mat_card_title {
  margin-bottom: 0px !important;
}
/* Background color for the mat-input-container */
.white_background_mat_input_container {
  background-color: white !important;
  height: 35px !important;
  border: none; /* Remove default input border */
  border-radius: 5px; /* Match the border-radius of the parent */
  padding: 5px; /* Adjust the padding inside the input */
}::placeholder {
  padding: 10px; /* Adjust the padding value as needed */
}
/* Style for the mat-form-field to adjust padding */
.custom-input-field {
  padding: 5px; /* Adjust the padding value as needed */
  width: 100%;
  box-sizing: border-box; /* Ensure padding is included in the width */
  border-radius: 5px; /* Adjust the border-radius value for roundness */
  overflow: hidden; /* Ensure the border-radius is applied to the input */
  height: 62px;
  div{
    div{
      div{
        span{
          label{
            padding-top: 6px;
          }
        }
      }
    }
  }
}
.custom-input-field-textaria {
  padding: 5px; /* Adjust the padding value as needed */
  width: 100%;
  box-sizing: border-box; /* Ensure padding is included in the width */
  border-radius: 5px; /* Adjust the border-radius value for roundness */
  overflow: hidden; /* Ensure the border-radius is applied to the input */
  div{
    div{
      div{
        span{
          label{
            padding-top: 6px;
          }
        }
      }
    }
  }
}
.white_background_mat_input_container_textaria {
  background-color: white !important;
  border: none; /* Remove default input border */
  border-radius: 5px; /* Match the border-radius of the parent */
  padding: 2% 5%; /* Adjust the padding inside the input */
  font-size: 0.8rem;
  letter-spacing: 1px;
}

// .mat-form-field-appearance-legacy .mat-form-field-label {
//   top: 1.8em;
// }
.white_background_mat_input_container{
  div{
    .mat-select-value {
      transform: translateY(0.60em); /* Adjust the translateY value as needed */
    }
  }
}
.mat-form-field .mat-label {
  font-size: 35px; // Adjust the font size as needed
}
// .mat-select-value {
//   transform: translateY(1.00em); /* Adjust the translateY value as needed */
// }
// .gap_between_header_top{
//   margin-top: 16px;
// }
.container-fluid {
  padding: 0% 5% 2% 5%;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1em;
}
.footer-toolbar {
  padding-left: 5%;
  padding-right: 8%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mat-card-actions, .mat-card-subtitle, .mat-card-content {
  display: block;
  margin-bottom: 0px;
}
.required-mark {
  color: red;  /* Customize the color of the required mark */
  margin-left: 4px;  /* Adjust the spacing between label and mark */
}
.mat-form-field .mat-form-field-required-marker {
  display: none;
}
/* Add this CSS to your component's stylesheet or global stylesheet */
.mat-label h3 b {
  color: #00050c; /* Set the color to your preferred color */
  font-weight: 700;
  font-size: 22px; /* Adjust the font size if needed */
  /* Add any other styling properties as needed */
}
.egret-navy .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #0c0c0c;
}
.mat-card-header-text {
  margin: 0 6px !important;
}
.center {
  overflow-wrap: break-word; /* Standard property name */
  word-wrap: break-word; /* Fallback for older browsers */
}
@media only screen and (max-width: 600px) { /* Adjust the max-width as needed */
  .mobile-view {
    height: 300px;
  }

  .mobile-view mat-toolbar {
    height: 246px; /* Set the desired height for mat-toolbar in mobile view */
  }
}
.datepikerSize{
  button{
    .mat-button-wrapper{
      svg{
        display: inline-block !important;
        width: 20px !important;
        height: 20px !important;
      }
    }
  }
}
.mat-toolbar-single-row {
  white-space: inherit !important;
}
.footer {
  //position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 0 70px 0;

  .right {
    p {
      color: rgb(174, 165, 165);
    }
  }
  .middle{
    padding-right: 10px;

    p {
      color: rgb(174, 165, 165);
    }
  }
}