<div style="height: 5px">
  <mat-progress-bar
    mode="indeterminate"
    color="primary"
    *ngIf="isBusy()"></mat-progress-bar>
</div>

<div class="form-wrap">
  <div fxLayout="row"
  fxLayout.sm="column"
  fxLayoutWrap
  fxLayoutGap="0.1%"
  fxLayoutAlign="start start">
  <div fxFlex.gt-sm="100" fxFlex.lt-md="100" class="mat-elevation-z2 p-24">
    <div class="text-left">
      <h1 class="title center font-weight">
        {{ 'Yellow Card' | translate }}
      </h1>
    </div>
    <hr>
    <div class="accordion">
      <div class="accordion-item">
        <mat-expansion-panel [(expanded)]="isGeneralInstructionsOpen">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>
                <span (click)="toggleGeneralInstructions()">General instructions for completing the form</span>
              </h2>
            </mat-panel-title>
            <!-- <mat-icon class="dropdown-icon">{{ isAccordion1Open ? 'expand_less' : 'expand_more' }}</mat-icon> -->
          </mat-expansion-panel-header>
          <div *ngIf="isGeneralInstructionsOpen">
            <ul>
              <li>Detailed information about each field can be found in the instructions available in the DGDA website. (www.dgda.gov.bd). </li>
              <li>Fill in as much information as possible. Do not leave anything blank. If unknown, write "unknown" or "n/a" if not applicable.</li>
            </ul>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="accordion-item">
        <mat-expansion-panel [(expanded)]="isSubmitReportOpen">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>
                <span (click)="toggleSubmitReport()">How to fill and submit the report?</span>
              </h2>
            </mat-panel-title>
            <!-- <mat-icon class="dropdown-icon">{{ isAccordion1Open ? 'expand_less' : 'expand_more' }}</mat-icon> -->
          </mat-expansion-panel-header>
          <div *ngIf="isSubmitReportOpen">
            <b> What to report: </b>
            <ul>
              <li> Adverse drug reactions/AEFI </li>
              <li> Unknown or unexpected ADRs/AEFI </li>
              <li> All suspected reactions to new drugs/vaccines </li>
              <li> Unexpected therapeutic effects </li>
              <li> All suspected drug/vaccine interactions </li>
              <li> Product quality problems </li>
              <li> Medication/vaccination errors </li>
            </ul>
            <ul>
              <li> ADE/AEFI reports can be submitted through online in the DGDA website (www.dgda.gov.bd) </li>
              <li> Hard copy of Yellow Card can also be filled and sent to the ADRM Cell by (i) email (adrmcell.dgda@gmail.com or (ii) post. In emergency cases or when forms are not readily available, it can be notified to the ADRM cell by phone. </li>
              <li> N.B: Additional Page can be used for detailed information if needed</li>
            </ul>
            <b> ঔষধ ব্যবহারকারীদের নির্দেশনা: </b>
            <ul>
              <li> ১। নিবন্ধনকৃত চিকিৎসকের ব্যবস্থাপত্র অনুযায়ী সঠিক মাত্রায়, সঠিক পদ্ধতিতে পূর্ণকোর্স এন্টিবায়োটিক ব্যবহার করুন।  </li>
              <li> ২। কোন ঔষধ ব্যবহার বিরূপ প্রতিক্রিয়া দেখা দিলে ঔষধ প্রশাসন অধিদপ্তরকে অবহিত করুন। </li>
            </ul>
            <b> Postal Address:</b>
            <ul>
              <li> ADRM Cell, Pharmacovigilance Department </li>
              <li> Directorate General of Drug Administration </li>
              <li> Aushad Bhavan, Mohakhali </li>
              <li> Dhaka-1212, Bangladesh </li>
            </ul>
            <b> Contact Information: </b>
            <ul>
              <li> Tel: 02222-280803 </li>
              <li> Cell No.: +8801728-349503</li>
              <li> E-mail: adrmcell.dgda@gmail.com </li>
            </ul>
          </div>
        </mat-expansion-panel>
      </div>
      <mat-card class="yellow-card">
        <form>
          <mat-card-header class="title-background">
            <mat-card-title class="mat_card_title">A. PATIENT INFORMATION</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-grid-list cols="4" rowHeight="80px" gutterSize="10px">
              <!-- First input field taking up 50% -->
              <mat-grid-tile colspan="2">
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Patient Name</b></h3></mat-label>
                  <input matInput placeholder="Enter Patient name" class="input-50 white_background_mat_input_container">
                </mat-form-field>
              </mat-grid-tile>
            
              <!-- Second input field taking up 25% -->
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Patient Phone Number</b></h3></mat-label>
                  <input matInput placeholder="Enter Patient Phone Number" class="input-25 white_background_mat_input_container">
                </mat-form-field>
              </mat-grid-tile>
            
              <!-- Third input field taking up 25% -->
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Patient Weight (KG)</b></h3></mat-label>
                  <input matInput placeholder="Enter Patient Weight (KG)" class="input-25 white_background_mat_input_container">
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="80px" gutterSize="10px">
              <!-- First half (50%) -->
              <mat-grid-tile>
                <div class="half-container">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Age - Year</b></h3></mat-label>
                    <input matInput placeholder="Enter Age - Year" class="white_background_mat_input_container">
                  </mat-form-field>
            
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Age - Month</b></h3></mat-label>
                    <input matInput placeholder="Enter Age - Month" class="white_background_mat_input_container">
                  </mat-form-field>
            
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Age - Days</b></h3></mat-label>
                    <input matInput placeholder="Enter Age - Days" class="white_background_mat_input_container">
                  </mat-form-field>
                </div>
              </mat-grid-tile>
            
              <!-- Second half (50%) -->
              <mat-grid-tile>
                <div class="half-container">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Select Gender</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container">
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Select Pregnant Status</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container">
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="80px" gutterSize="10px">
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Select Division</b></h3></mat-label>
                  <mat-select class="white_background_mat_input_container">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Select District</b></h3></mat-label>
                  <mat-select class="white_background_mat_input_container">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Select Upazila</b></h3></mat-label>
                  <mat-select class="white_background_mat_input_container">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Select Union</b></h3></mat-label>
                  <mat-select class="white_background_mat_input_container">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list> 
            <mat-grid-list cols="1" rowHeight="80px" gutterSize="10px">
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Post Office/ Village/ Road / House information</b></h3></mat-label>
                  <input matInput placeholder="Post Office/ Village/ Road / House information" class="white_background_mat_input_container">
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
          <mat-card-header class="title-background">
            <mat-card-title class="mat_card_title"> B. SUSPECTED ADVERSE EVENT INFORMATION</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-grid-list cols="4" rowHeight="80px" gutterSize="10px">
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Type of event</b></h3></mat-label>
                  <mat-select class="white_background_mat_input_container">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Specify</b></h3></mat-label>
                  <input matInput placeholder="If others, Please Specify" class="white_background_mat_input_container">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Describe event including relevant tests and laboratory results</b></h3></mat-label>
                  <textarea matInput placeholder="Enter Describe event including relevant tests and laboratory results" class="white_background_mat_input_container"></textarea>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="80px" gutterSize="10px">
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Event Start date</b></h3></mat-label>
                  <input matInput [matDatepicker]="eventStartDate" placeholder="Choose a date" class="white_background_mat_input_container">
                  <mat-datepicker-toggle matSuffix [for]="eventStartDate"></mat-datepicker-toggle>
                  <mat-datepicker #eventStartDate></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Event Stopped date</b></h3></mat-label>
                  <input matInput [matDatepicker]="eventStoppedDate" placeholder="Choose a date" class="white_background_mat_input_container">
                  <mat-datepicker-toggle matSuffix [for]="eventStoppedDate"></mat-datepicker-toggle>
                  <mat-datepicker #eventStoppedDate></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Was the adverse event treated?</b></h3></mat-label>
                  <mat-select class="white_background_mat_input_container">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Specify</b></h3></mat-label>
                  <input matInput placeholder="If Yes, Please Specify" class="white_background_mat_input_container">
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="80px" gutterSize="10px">
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Action taken after reaction</b></h3></mat-label>
                  <mat-select class="white_background_mat_input_container">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="3">
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Did reaction subside after stopping / reducing the dose of the suspected product?</b></h3></mat-label>
                  <mat-select class="white_background_mat_input_container">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="80px" gutterSize="15px">
              <mat-grid-tile colspan="2">
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Did reaction appear after reintroducing the suspected product?</b></h3></mat-label>
                  <mat-select class="white_background_mat_input_container">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Seriousness of the adverse event</b></h3></mat-label>
                  <mat-select class="white_background_mat_input_container">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>If serious, please select</b></h3></mat-label>
                  <mat-select class="white_background_mat_input_container">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="80px" gutterSize="15px">
              <mat-grid-tile colspan="2">
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Outcomes attributed to the adverse event</b></h3></mat-label>
                  <mat-select class="white_background_mat_input_container">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>If fatal, please select date of death</b></h3></mat-label>
                  <input matInput [matDatepicker]="dateOfDeath" placeholder="Choose a date" class="white_background_mat_input_container">
                  <mat-datepicker-toggle matSuffix [for]="dateOfDeath"></mat-datepicker-toggle>
                  <mat-datepicker #dateOfDeath></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
  
            <mat-grid-list cols="4" rowHeight="80px" gutterSize="15px">
              <mat-grid-tile colspan="2">
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Other relevant history: (pre-existing medical history)</b></h3></mat-label>
                  <mat-select class="white_background_mat_input_container">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Specify</b></h3></mat-label>
                  <input matInput placeholder="If others, Please Specify" class="white_background_mat_input_container">
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
          <mat-card-header class="title-background">
            <mat-card-title class="mat_card_title"> C. SUSPECTED DRUG/VACCINE INFORMATION</mat-card-title>
          </mat-card-header>
       </form>
      </mat-card>
    </div>
   </div>
  </div>
</div>