// Columns widths
mat-column {
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  flex: 0 0 15% !important;
  width: 15% !important;
}

.mat-column-medication {
  flex: 0 0 50% !important;
  width: 50% !important;
}

.form-wrap {
  margin: 5px;
  height: 100%;
  overflow: auto;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px 16px;
}

.radio-button-label {
  padding-left: 0 !important;
}

mat-step-header {
  &:nth-of-type(1) {
    .mat-step-icon-selected {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'A';
        }
      }
    }
    .mat-step-icon-state-number {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'A';
        }
      }
    }
  }
  &:nth-of-type(2) {
    .mat-step-icon-selected {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'B';
        }
      }
    }
    .mat-step-icon-state-number {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'B';
        }
      }
    }
  }
  &:nth-of-type(3) {
    .mat-step-icon-selected {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'C';
        }
      }
    }
    .mat-step-icon-state-number {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'C';
        }
      }
    }
  }
  &:nth-of-type(4) {
    .mat-step-icon-selected {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'D';
        }
      }
    }
    .mat-step-icon-state-number {
      .mat-step-icon-content {
        span.ng-star-inserted {
          display: none;
        }
        &:after {
          content: 'D';
        }
      }
    }
  }
}

#cdk-step-content-0-0 {
  .yellow-form {
    div.form-field {
      &:nth-child(1),
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.mat-form-field-required-marker {
  color: red;
}


// DC
.yellow-card {
  background-color: #FFD700 !important;
  margin: 0 rem;
  padding: 0;
}
.title-background {
  background-color: rgb(32, 32, 77);
  color: rgb(247, 244, 252); /* Set text color to ensure readability */
}
.mat_card_title {
  margin-bottom: 0px !important;
}
/* Background color for the mat-input-container */
.white_background_mat_input_container {
  background-color: white !important;
  height: 35px !important;
  border: none; /* Remove default input border */
  border-radius: 5px; /* Match the border-radius of the parent */
  padding: 5px; /* Adjust the padding inside the input */
}::placeholder {
  padding-left: 20px; /* Adjust the padding value as needed */
}
/* Style for the mat-form-field to adjust padding */
.custom-input-field {
  padding: 1%; /* Adjust the padding value as needed */
  width: 100%;
  box-sizing: border-box; /* Ensure padding is included in the width */
  border-radius: 5px; /* Adjust the border-radius value for roundness */
  overflow: hidden; /* Ensure the border-radius is applied to the input */
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  top: 2.1em;
}
.mat-form-field .mat-label {
  font-size: 35px; // Adjust the font size as needed
}
.mat-select-value {
  transform: translateY(2.25em); /* Adjust the translateY value as needed */
}
.gap_between_header_top{
  margin-top: 16px;
}
.container-fluid {
  padding: 0% 5% 2% 5%;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1em;
}
.footer-toolbar {
  padding-left: 5%;
  padding-right: 8%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mat-card-actions, .mat-card-subtitle, .mat-card-content {
  display: block;
  margin-bottom: 0px;
}

// .logo-container {
//   /* Add any additional styling for the logo container */
// }

// .copyright-container {
//   /* Add any additional styling for the copyright container */
// }

