<div>
  <mat-progress-bar
    mode="indeterminate"
    color="primary"
    *ngIf="isBusy()"></mat-progress-bar>
</div>

<mat-toolbar foot color="primary" style="padding-left: 5%; padding-right: 8%;">
  <!-- Left side with two logos -->
  <div fxLayout="row" fxLayoutAlign="start center">
    <div>
      <img src="https://pvtracker.jbrsoft.com/build/images/pv-tracker-logo.png" style="padding-top: 10px;" alt="Logo 1" height="55" width="55" (click)="navigateCancelComponent()">
    </div>
    <!-- <div>
      <img src="https://pvtracker.jbrsoft.com/build/images/pvims-microservice-logo.png" alt="Logo 2" height="40" width="40">
    </div> -->
  </div>

  <!-- Spacer to push the following content to the right -->
  <span fxFlex></span>

  <!-- Logout button on the right -->
  <button mat-icon-button (click)="navigateLogInComponent()">
    <mat-icon>login</mat-icon>
    <span>LogIn</span>
  </button>
</mat-toolbar>

<div class="form-wrap">
  <div fxLayout="row"
  fxLayoutWrap
  fxLayoutGap="0.1%"
  fxLayoutAlign="start start" class="container-fluid">
    <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex.gt-lg="100">
      <div class="text-left" style="padding: 1%;">
        <h1 class="title center font-weight">
          {{ 'Yellow Card' | translate }}
        </h1>
      </div>
      <hr>
      <div class="accordion">
        <div class="accordion-item">
          <mat-expansion-panel [(expanded)]="isGeneralInstructionsOpen">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h2>
                  <span (click)="toggleGeneralInstructions()">General instructions for completing the form</span>
                </h2>
              </mat-panel-title>
              <!-- <mat-icon class="dropdown-icon">{{ isAccordion1Open ? 'expand_less' : 'expand_more' }}</mat-icon> -->
            </mat-expansion-panel-header>
            <div *ngIf="isGeneralInstructionsOpen">
              <ul>
                <li>Detailed information about each field can be found in the instructions available in the DGDA website. (www.dgda.gov.bd). </li>
                <li>Fill in as much information as possible. Do not leave anything blank. If unknown, write "unknown" or "n/a" if not applicable.</li>
              </ul>
            </div>
          </mat-expansion-panel>
        </div>
        <div class="accordion-item">
          <mat-expansion-panel [(expanded)]="isSubmitReportOpen">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h2>
                  <span (click)="toggleSubmitReport()">How to fill and submit the report?</span>
                </h2>
              </mat-panel-title>
              <!-- <mat-icon class="dropdown-icon">{{ isAccordion1Open ? 'expand_less' : 'expand_more' }}</mat-icon> -->
            </mat-expansion-panel-header>
            <div *ngIf="isSubmitReportOpen">
              <b> What to report: </b>
              <ul>
                <li> Adverse drug reactions/AEFI </li>
                <li> Unknown or unexpected ADRs/AEFI </li>
                <li> All suspected reactions to new drugs/vaccines </li>
                <li> Unexpected therapeutic effects </li>
                <li> All suspected drug/vaccine interactions </li>
                <li> Product quality problems </li>
                <li> Medication/vaccination errors </li>
              </ul>
              <ul>
                <li> ADE/AEFI reports can be submitted through online in the DGDA website (www.dgda.gov.bd) </li>
                <li> Hard copy of Yellow Card can also be filled and sent to the ADRM Cell by (i) email (adrmcell.dgda@gmail.com or (ii) post. In emergency cases or when forms are not readily available, it can be notified to the ADRM cell by phone. </li>
                <li> N.B: Additional Page can be used for detailed information if needed</li>
              </ul>
              <b> ঔষধ ব্যবহারকারীদের নির্দেশনা: </b>
              <ul>
                <li> ১। নিবন্ধনকৃত চিকিৎসকের ব্যবস্থাপত্র অনুযায়ী সঠিক মাত্রায়, সঠিক পদ্ধতিতে পূর্ণকোর্স এন্টিবায়োটিক ব্যবহার করুন।  </li>
                <li> ২। কোন ঔষধ ব্যবহার বিরূপ প্রতিক্রিয়া দেখা দিলে ঔষধ প্রশাসন অধিদপ্তরকে অবহিত করুন। </li>
              </ul>
              <b> Postal Address:</b>
              <ul>
                <li> ADRM Cell, Pharmacovigilance Department </li>
                <li> Directorate General of Drug Administration </li>
                <li> Aushad Bhavan, Mohakhali </li>
                <li> Dhaka-1212, Bangladesh </li>
              </ul>
              <b> Contact Information: </b>
              <ul>
                <li> Tel: 02222-280803 </li>
                <li> Cell No.: +8801728-349503</li>
                <li> E-mail: adrmcell.dgda@gmail.com </li>
              </ul>
            </div>
          </mat-expansion-panel>
        </div>
        <mat-card class="yellow-card">
          <form [formGroup]="viewModelFormNew">
            <mat-card-header class="title-background">
              <mat-card-title class="mat_card_title">A. PATIENT INFORMATION</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row" fxLayout.lt-md="column">
                <!-- First input field taking up 50% -->
                <div fxFlex.gt-md="50" fxFlex.lt-md="100">
                  <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlex.gt-md="100" fxFlex.lt-md="100">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>Name/Initial</b></h3></mat-label>
                        <input matInput placeholder="Enter Name/Initial" class="input-50 white_background_mat_input_container" formControlName="patientName">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div fxFlex.gt-md="50" fxFlex.lt-md="100">
                  <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlex.gt-md="50" fxFlex.lt-md="100">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>Contact Number
                          <span class="required-mark">*</span>
                        </b></h3></mat-label>
                        <input matInput type="number" placeholder="Enter Contact Number" class="input-25 white_background_mat_input_container" formControlName="patientPhoneNumber" required>
                      </mat-form-field>
                    </div>
                    <div fxFlex.gt-md="50" fxFlex.lt-md="100">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>Patient Weight (KG)</b></h3></mat-label>
                        <input matInput type="number" placeholder="Enter Patient Weight (KG)" class="input-25 white_background_mat_input_container" formControlName="patientWeight">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lt-md="column">
                <!-- First half (50%) -->
                <div fxFlex.gt-md="50" fxFlex.lt-md="100">
                  <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlex.gt-md="25" fxFlex.lt-md="100">
                      <mat-form-field class="custom-input-field" >
                        <mat-label><h3><b>Age - Year <span *ngIf="viewModelFormNew.get('isChecked').value === false" class="required-mark">*</span></b></h3></mat-label>
                        <input matInput type="number" placeholder="Enter Age - Year" class="white_background_mat_input_container"
                         formControlName="patientAgeYear">
                      </mat-form-field>
                    </div>
                
                    <div fxFlex.gt-md="25" fxFlex.lt-md="100">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>Age - Month</b></h3></mat-label>
                        <input matInput type="number" placeholder="Enter Age - Month" class="white_background_mat_input_container" 
                        formControlName="patientAgeMonth">
                      </mat-form-field>
                    </div>
                
                    <div fxFlex.gt-md="25" fxFlex.lt-md="100">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>Age - Days</b></h3></mat-label>
                        <input matInput type="number" placeholder="Enter Age - Days" class="white_background_mat_input_container" 
                        formControlName="patientAgeDays" >
                      </mat-form-field>
                    </div>
                    <div fxFlex.gt-md="25" fxFlex.lt-md="100">
                      <div class="custom-input-field" [style.paddingTop]="isMobileView ? '8%' : '10%'">
                        <mat-checkbox formControlName="isChecked"><b>Age Not Available</b></mat-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              
                <!-- Second half (50%) -->
                <div fxFlex.gt-md="50" fxFlex.lt-md="100">
                  <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlex.gt-md="50" fxFlex.lt-md="100">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>Select Gender<span class="required-mark">*</span></b></h3></mat-label>
                        <mat-select class="white_background_mat_input_container"  formControlName="patientGender" required>
                          <mat-option *ngFor="let gender of genderList" [value]="gender.selectionKey">{{gender.value}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div fxFlex.gt-md="50" fxFlex.lt-md="100">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>Select Pregnant Status <span *ngIf="viewModelFormNew.get('patientGender').value === 'Female'" class="required-mark">*</span></b></h3></mat-label>
                        <mat-select class="white_background_mat_input_container" [disabled]="viewModelFormNew.get('patientGender').value !== 'Female'" 
                        formControlName="patientPregnantStatus" [required]="viewModelFormNew.get('patientGender').value === 'Female'">
                          <mat-option *ngFor="let pregnant of pregnantList" [value]="pregnant.selectionKey">{{pregnant.value}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lt-md="column">
                <div fxFlex="25%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Select Division</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container" (selectionChange)="onChangeDivision($event)" 
                    formControlName="patientDivision" >
                      <mat-option *ngFor="let division of divisionList" [value]="division.selectedkey">{{ division.selectedValue }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="25%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Select District</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container" (selectionChange)="onChangeDistrict($event)" formControlName="patientDistrict">
                      <mat-option *ngFor="let district of districtList" [value]="district.selectedkey">{{district.selectedValue}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="25%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Select Upazila</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container" formControlName="patientUpazila">
                      <mat-option *ngFor="let thana of thanaList" [value]="thana.selectedkey">{{thana.selectedValue}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="25%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Select Union</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container">
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="column">
                <mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Post Office/ Village/ Road / House information</b></h3></mat-label>
                  <input matInput placeholder="Post Office/ Village/ Road / House information" 
                  class="white_background_mat_input_container" formControlName="patientAddress">
                </mat-form-field>
              </div>
            </mat-card-content>
            <mat-card-header class="title-background">
              <mat-card-title class="mat_card_title"> B. SUSPECTED ADVERSE EVENT INFORMATION</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex.gt-md="50" fxFlex.lt-md="100">
                  <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlex.gt-md="50" fxFlex.lt-md="100">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>Type of event <span class="required-mark">*</span></b></h3></mat-label>
                        <mat-select class="white_background_mat_input_container" formControlName="suspectedType" required multiple>
                          <mat-option *ngFor="let tyEvent of typeOfEventList" [value]="tyEvent.selectionKey" >{{tyEvent.value}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div fxFlex.gt-md="50" fxFlex.lt-md="100">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>If others, Please Specify <span class="required-mark"  *ngIf="viewModelFormNew.get('suspectedType').value.includes('Others')">*</span></b></h3></mat-label>
                        <input matInput placeholder="If others, Please Specify" class="white_background_mat_input_container" 
                        [disabled]="!viewModelFormNew.get('suspectedType').value.includes('Others')" 
                        formControlName="suspectedTypeSpecify" [required]="viewModelFormNew.get('suspectedType').value.includes('Others')">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div fxFlex.gt-md="50" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field-textaria">
                    <mat-label><h3><b>Describe event including relevant tests and laboratory results
                      <span class="required-mark">*</span>
                    </b></h3></mat-label>
                    <textarea matInput placeholder="Enter Describe event including relevant tests and laboratory results" 
                    class="white_background_mat_input_container_textaria" formControlName="suspectedLaboratoryResults" required></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="50%" fxLayout.lt-md="100%">
                  <div fxLayout="row"  fxLayout.lt-md="column">
                    <div fxFlex="33.33%" fxLayout.lt-md="100%">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>Event Start date
                          <span *ngIf="viewModelFormNew.get('isCheckedEventDate').value === false" class="required-mark">*</span>
                        </b></h3></mat-label>
                        <input matInput [matDatepicker]="eventStartDate" placeholder="Choose a date" inputmode="none"  (keydown)="false"
                          class="white_background_mat_input_container" formControlName="suspectedEventStartDate"
                          [disabled]="viewModelFormNew.get('isCheckedEventDate').value">
                        <mat-datepicker-toggle matSuffix [for]="eventStartDate" class="datepikerSize"></mat-datepicker-toggle>
                        <mat-datepicker #eventStartDate></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div fxFlex="33.33%" fxLayout.lt-md="100%">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>Event Stopped date
                          <span *ngIf="viewModelFormNew.get('isCheckedEventDate').value === false" class="required-mark">*</span>
                        </b></h3></mat-label>
                        <input matInput [matDatepicker]="eventStoppedDate" placeholder="Choose a date" inputmode="none"  (keydown)="false"
                          class="white_background_mat_input_container" formControlName="suspectedEventStoppedDate"
                          [disabled]="viewModelFormNew.get('isCheckedEventDate').value"
                          [min]="getMinEventStoppedDate()">
                        <mat-datepicker-toggle matSuffix [for]="eventStoppedDate" class="datepikerSize"></mat-datepicker-toggle>
                        <mat-datepicker #eventStoppedDate></mat-datepicker>
                      </mat-form-field>                      
                    </div>
                    <div fxFlex="33.33%" fxLayout.lt-md="100%">
                      <!-- <div class="custom-input-field" [style.paddingTop]="isMobileView ? '8%' : '16%'"> -->
                      <div class="custom-input-field" [style.paddingTop]="isMobileView ? '8%' : '12%'">
                        <mat-checkbox formControlName="isCheckedEventDate"><b>Event Date Not Available</b></mat-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
                <div fxFlex="50%" fxLayout.lt-md="100%">
                  <div fxLayout="row"  fxLayout.lt-md="column">
                    <div fxFlex="50%" fxLayout.lt-md="100%">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>Was the adverse event treated?</b></h3></mat-label>
                        <mat-select class="white_background_mat_input_container"  formControlName="suspectedEventTreated">
                          <mat-option *ngFor="let adEventTreated of adverseEventTreatedList" [value]="adEventTreated.selectionKey">{{adEventTreated.value}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div fxFlex="50%" fxLayout.lt-md="100%">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>If Yes, Please Specify
                          <span *ngIf="viewModelFormNew.get('suspectedEventTreated').value === 'Yes'" class="required-mark">*</span></b></h3></mat-label>
                        <input matInput placeholder="If Yes, Please Specify" class="white_background_mat_input_container"
                        [disabled]="viewModelFormNew.get('suspectedEventTreated').value !== 'Yes'" formControlName="suspectedEventTreatedSpecify"
                        [required]="viewModelFormNew.get('suspectedEventTreated').value === 'Yes'">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="25%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Action taken after reaction</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container" formControlName="suspectedAfterReaction">
                      <mat-option *ngFor="let acTakenAfterRc of actionTakenAfterReactionList" 
                      [value]="acTakenAfterRc.selectionKey">{{acTakenAfterRc.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="75%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Did reaction subside after stopping / reducing the dose of the suspected product?</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container" formControlName="suspectedProduct">
                      <mat-option *ngFor="let didReaction of didReactionSubsideList" [value]="didReaction.selectionKey">{{didReaction.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="50%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Event information</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container" formControlName="suspectedEventInformation" multiple>
                      <mat-option *ngFor="let evntInfo of eventInformationList" [value]="evntInfo.selectionKey">{{evntInfo.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="50%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>If others, Please Specify <span class="required-mark"  *ngIf="viewModelFormNew.get('suspectedEventInformation').value.includes('Others')">*</span></b></h3></mat-label>
                    <input matInput placeholder="If others, Please Specify" class="white_background_mat_input_container" 
                    [disabled]="!viewModelFormNew.get('suspectedEventInformation').value.includes('Others')" 
                    formControlName="suspectedEventInformationSpecify" [required]="viewModelFormNew.get('suspectedEventInformation').value.includes('Others')">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="50%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Did reaction appear after reintroducing the suspected product?</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container" formControlName="suspectedAppearAfter">
                      <mat-option *ngFor="let didRctnAppear of didReactionAppearList" [value]="didRctnAppear.selectionKey">{{didRctnAppear.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="25%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Seriousness of the adverse event</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container" formControlName="suspectedAdverseEvent">
                      <mat-option value="Not Serious">Not Serious</mat-option>
                      <mat-option value="Serious">Serious</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="25%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>If serious, please select
                     <span *ngIf="viewModelFormNew.get('suspectedAdverseEvent').value === 'Serious'" class="required-mark">*</span>
                    </b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container" 
                     [disabled]="viewModelFormNew.get('suspectedAdverseEvent').value !== 'Serious'" formControlName="suspectedIfSerious" multiple>
                      <mat-option *ngFor="let seriousnessAdv of seriousnessAdverseList" [value]="seriousnessAdv.selectionKey" >{{seriousnessAdv.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="50%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Outcomes attributed to the adverse event
                      <span class="required-mark">*</span>
                    </b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container" formControlName="suspectedAttributedEvent" required>
                      <mat-option *ngFor="let outcmAttributed of outcomeAttributedList" [value]="outcmAttributed.selectionKey">{{outcmAttributed.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="50%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>If fatal, please select date of death
                      <span *ngIf="viewModelFormNew.get('suspectedAttributedEvent').value === 'Fatal'" class="required-mark">*</span>
                    </b></h3></mat-label>
                    <input matInput [matDatepicker]="dateOfDeath" placeholder="Choose a date" 
                      class="white_background_mat_input_container" 
                      [disabled]="viewModelFormNew.get('suspectedAttributedEvent').value !== 'Fatal'" 
                      formControlName="suspectedDateOfDeath" [required]="viewModelFormNew.get('suspectedAttributedEvent').value === 'Fatal'"
                      inputmode="none"  (keydown)="false">
                    <mat-datepicker-toggle matSuffix [for]="dateOfDeath" class="datepikerSize"></mat-datepicker-toggle>
                    <mat-datepicker #dateOfDeath></mat-datepicker>
                  </mat-form-field>                                   
                </div>
              </div>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="50%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Other relevant history: (pre-existing medical history)</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container"  formControlName="suspectedOtherRevevant" multiple>
                      <mat-option *ngFor="let otherRvntHstry of otherRelevantHistoryList" [value]="otherRvntHstry.selectionKey">{{otherRvntHstry.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="50%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>If others, Please Specify
                      <span *ngIf="viewModelFormNew.get('suspectedOtherRevevant').value.includes('Others (Please specify)')" class="required-mark">*</span>
                    </b></h3></mat-label>
                    <input matInput placeholder="If others, Please Specify" class="white_background_mat_input_container" 
                   [disabled]="!viewModelFormNew.get('suspectedOtherRevevant').value.includes('Others (Please specify)')"  formControlName="suspectedOtherRevevantSpecify"
                   [required]="viewModelFormNew.get('suspectedOtherRevevant').value.includes('Others (Please specify)')">
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
            <mat-card-header class="title-background">
              <mat-card-title class="mat_card_title"> C. SUSPECTED DRUG/VACCINE INFORMATION</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="25%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Brand/Trade name</b></h3></mat-label>
                    <input matInput placeholder="Enter Brand/Trade name" class="white_background_mat_input_container" formControlName="suspectedBrandTradeName">
                  </mat-form-field>
                </div>
                <div fxFlex="25%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Generic Name with strength
                      <span class="required-mark">*</span>
                    </b></h3></mat-label>
                    <input matInput placeholder="Enter Generic Name with strength" class="white_background_mat_input_container" formControlName="suspectedGenericName" required>
                  </mat-form-field>
                </div>
                <div fxFlex="50%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Indication
                      <span class="required-mark">*</span>
                    </b></h3></mat-label>
                    <input matInput placeholder="Enter Indication" class="white_background_mat_input_container" formControlName="suspectedIndication" required>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="65%" fxLayout.lt-md="100%">
                  <div fxLayout="row"  fxLayout.lt-md="column">
                    <div fxFlex="43%" fxLayout.lt-md="100%">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>Medication Start Date/Vaccination Date
                          <span *ngIf="!viewModelFormNew.get('isCheckedVaccination').value" class="required-mark">*</span>
                        </b></h3></mat-label>
                        <input matInput [matDatepicker]="vaccinationStartDate" placeholder="Choose a date" class="white_background_mat_input_container" formControlName="suspectedMedicationStartDate"
                          [disabled]="viewModelFormNew.get('isCheckedVaccination').value" inputmode="none"  (keydown)="false"
                          [required]="!viewModelFormNew.get('isCheckedVaccination').value">
                        <mat-datepicker-toggle matSuffix [for]="vaccinationStartDate" class="datepikerSize"></mat-datepicker-toggle>
                        <mat-datepicker #vaccinationStartDate></mat-datepicker>
                      </mat-form-field>                      
                    </div>
                    <div fxFlex="35%" fxLayout.lt-md="100%">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>End Date/Vaccination Time
                          <span *ngIf="!viewModelFormNew.get('isCheckedVaccination').value" class="required-mark">*</span>
                        </b></h3></mat-label>
                        <input matInput [matDatepicker]="vaccinationEndDate" placeholder="Choose a date" class="white_background_mat_input_container" formControlName="suspectedMedicationEndDate"
                        [disabled]="viewModelFormNew.get('isCheckedVaccination').value" inputmode="none"  (keydown)="false"
                        [required]="!viewModelFormNew.get('isCheckedVaccination').value"
                        [min]="getMinvaccinationEndDate()">
                        <mat-datepicker-toggle matSuffix [for]="vaccinationEndDate" class="datepikerSize"></mat-datepicker-toggle>
                        <mat-datepicker #vaccinationEndDate></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div fxFlex="22%" fxLayout.lt-md="100%">
                      <div class="custom-input-field" [style.paddingTop]="isMobileView ? '8%' : '16%'">
                        <mat-checkbox formControlName="isCheckedVaccination"><b>Date Not Available</b></mat-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
                <div fxFlex="35%" fxLayout.lt-md="100%">
                  <div fxLayout="row"  fxLayout.lt-md="column">
                    <div fxFlex="50%" fxLayout.lt-md="100%">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>Dosage Form</b></h3></mat-label>
                        <input matInput placeholder="Enter Dosage Form" class="white_background_mat_input_container" formControlName="suspectedEnterDoseForm">
                      </mat-form-field>
                    </div>
                    <div fxFlex="50%" fxLayout.lt-md="100%">
                      <mat-form-field class="custom-input-field">
                        <mat-label><h3><b>Frequency (Daily Dose)
                          <span class="required-mark">*</span>
                        </b></h3></mat-label>
                        <input matInput placeholder="Enter Frequency (Daily Dose)" class="white_background_mat_input_container" formControlName="suspectedFrequencyDailyDose" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="25%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Batch/Lot number</b></h3></mat-label>
                    <input matInput placeholder="Enter Batch/Lot number" class="white_background_mat_input_container" formControlName="suspectedBatchLotNumber">
                  </mat-form-field>
                </div>
                <div fxFlex="50%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Manufacturer</b></h3></mat-label>
                    <input matInput placeholder="Enter Manufacturer" class="white_background_mat_input_container" formControlName="suspectedManufacturer">
                  </mat-form-field>
                </div>
                <div fxFlex="25%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field"> 
                    <mat-label><h3><b>Diluent Information for vaccine</b></h3></mat-label>
                    <input matInput placeholder="Enter Diluent Information for vaccine" class="white_background_mat_input_container" 
                    formControlName="suspectedDiluentInformation">
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
            <mat-card-header>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div>
                  <mat-card-title class="mat_card_title">CONCOMITANT MEDICINE/VACCINE INFORMATION</mat-card-title>
                </div>
                <div style="padding-left: 40px;"> 
                  <mat-checkbox formControlName="isCheckedConcomutant" (click)="isCheckedConcomutantEvent()"><b>MEDICINE/VACCINE Not Available</b></mat-checkbox>
                </div>
              </div>
            </mat-card-header>


            <mat-card-content *ngIf="!viewModelFormNew.get('isCheckedConcomutant').value">
              <div formArrayName="sections">
                <div fxLayout="row" fxLayout.lt-md="column"  *ngFor="let section of sectionsFormArray.controls; let i = index" [formGroupName]="i">
              
                  <div fxFlex="18%" fxLayout.lt-md="100%">
                    <mat-form-field class="custom-input-field">
                      <mat-label><h3><b>Brand/ Trade Name
                        <span *ngIf="!viewModelFormNew.get('isCheckedConcomutant').value" class="required-mark">*</span>
                      </b></h3></mat-label>
                      <input matInput placeholder="Enter Brand/ Trade Name" formControlName="brand" class="white_background_mat_input_container"
                      [required]="!viewModelFormNew.get('isCheckedConcomutant').value">
                    </mat-form-field>
                  </div>
                  <div fxFlex="18%" fxLayout.lt-md="100%">
                    <mat-form-field class="custom-input-field">
                      <mat-label><h3><b>Generic Name
                        <span *ngIf="!viewModelFormNew.get('isCheckedConcomutant').value" class="required-mark">*</span>
                      </b></h3></mat-label>
                      <input matInput placeholder="Enter Generic Name" formControlName="genericName" class="white_background_mat_input_container"
                      [required]="!viewModelFormNew.get('isCheckedConcomutant').value">
                    </mat-form-field>
                  </div>
                  <div fxFlex="18%" fxLayout.lt-md="100%">
                    <mat-form-field class="custom-input-field">
                      <mat-label><h3><b>Dosage Form
                        <span *ngIf="!viewModelFormNew.get('isCheckedConcomutant').value" class="required-mark">*</span>
                      </b></h3></mat-label>
                      <input matInput placeholder="Enter Dosage Form" formControlName="doseForm" class="white_background_mat_input_container" 
                      [required]="!viewModelFormNew.get('isCheckedConcomutant').value">
                    </mat-form-field>
                  </div>
                  <div fxFlex="18%" fxLayout.lt-md="100%">
                    <mat-form-field class="custom-input-field">
                      <mat-label><h3><b>Indication
                        <span *ngIf="!viewModelFormNew.get('isCheckedConcomutant').value" class="required-mark">*</span>
                      </b></h3></mat-label>
                      <input matInput placeholder="Enter Indication" formControlName="indication" class="white_background_mat_input_container" 
                      [required]="!viewModelFormNew.get('isCheckedConcomutant').value">
                    </mat-form-field>
                  </div>
                  <div fxFlex="18%" fxLayout.lt-md="100%">
                    <mat-form-field class="custom-input-field">
                      <mat-label><h3><b>Strength & Frequency
                        <span *ngIf="!viewModelFormNew.get('isCheckedConcomutant').value" class="required-mark">*</span>
                      </b></h3></mat-label>
                      <input matInput placeholder="Enter Strength & Frequency" formControlName="strengthAndFrequency"  class="white_background_mat_input_container"
                      [required]="!viewModelFormNew.get('isCheckedConcomutant').value">
                    </mat-form-field>
                  </div>
                  <div fxFlex="10%" fxLayout.lt-md="100%" style="padding-top: 1.5%;">
                    <button mat-raised-button color="primary" *ngIf="i === 0" (click)="addFormSectionNew()">Add</button>
                    <button mat-raised-button color="warn" *ngIf="i !== 0" (click)="removeFormSectionNew(i)">Remove</button>
                  </div>
              </div>
              </div>
            </mat-card-content>

            <mat-card-header class="title-background">
              <mat-card-title class="mat_card_title"> D. REPORTER INFORMATION</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="33.33%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Source of reporting</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container" formControlName="reporterSourceOfReporting">
                      <mat-option *ngFor="let srcOfReport of sourceOfReportingList" [value]="srcOfReport.selectionKey">{{srcOfReport.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="33.33%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Reporting Type
                      <span *ngIf="viewModelFormNew.get('reporterSourceOfReporting').value === 'Marketing authorization holder'" class="required-mark">*</span>
                    </b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container" [disabled]="viewModelFormNew.get('reporterSourceOfReporting').value !== 'Marketing authorization holder'" 
                     formControlName="reporterReportType" [required]="viewModelFormNew.get('reporterSourceOfReporting').value === 'Marketing authorization holder'">
                      <mat-option *ngFor="let rptType of reportingTypeList" [value]="rptType.selectionKey">{{rptType.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="33.33%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Initial Report ID
                      <span *ngIf="viewModelFormNew.get('reporterReportType').value === 'Follow-up report'" class="required-mark">*</span>
                    </b></h3></mat-label>
                    <input matInput placeholder="Enter Initial Report Id" class="white_background_mat_input_container" formControlName="reporterInitialReportId"
                    [disabled]="viewModelFormNew.get('reporterReportType').value !== 'Follow-up report'"
                    [required]="viewModelFormNew.get('reporterReportType').value === 'Follow-up report'">
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
            <mat-card-header class="gap_between_header_top">
              <mat-card-title class="mat_card_title"><b>Name & Address</b></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="100%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Reporter Name
                      <span class="required-mark">*</span>
                    </b></h3></mat-label>
                    <input matInput placeholder="Enter Reporter Name" class="white_background_mat_input_container" formControlName="reporterName" required>
                  </mat-form-field>
                </div>
              </div>
              <!-- <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="25%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Select Division</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container">
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="25%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Select District</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container">
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="25%" fxLayout.lt-md="100%"><mat-form-field class="custom-input-field">
                  <mat-label><h3><b>Select Upazila</b></h3></mat-label>
                  <mat-select class="white_background_mat_input_container">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field></div>
                <div fxFlex="25%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Select Union</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container">
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> -->
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="100%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Post Office/ Village/ Road / House information
                      <span class="required-mark">*</span>
                    </b></h3></mat-label>
                    <input matInput placeholder="Enter Post Office/ Village/ Road / House information" class="white_background_mat_input_container" 
                    formControlName="reporterAddress" required>
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
            <mat-card-header>
              <mat-card-title class="mat_card_title"> <b>Other information</b></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="33.33%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Email Address</b></h3></mat-label>
                    <input type="email" matInput placeholder="Enter Email Address" class="white_background_mat_input_container" formControlName="reporterEmailAddress">
                  </mat-form-field>
                </div>
                <div fxFlex="33.33%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Mobile phone
                      <span class="required-mark">*</span>
                    </b></h3></mat-label>
                    <input type="number" matInput placeholder="Enter Mobile phone" class="white_background_mat_input_container" formControlName="reporterPhoneNumber" required>
                  </mat-form-field>
                </div>
                <div fxFlex="33.33%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Occupation
                      <span class="required-mark">*</span>
                    </b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container" formControlName="reporterOccupation" required>
                      <mat-option *ngFor="let ocptn of occupationList" [value]="ocptn.selectionKey">{{ocptn.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="33.33%" fxLayout.lt-md="100%">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Date of this report submission
                      <span class="required-mark">*</span>
                    </b></h3></mat-label>
                    <input matInput [matDatepicker]="reportSubmissionDate" placeholder="Choose a date" class="white_background_mat_input_container" 
                    formControlName="reporterDateOfReportSubmission" required inputmode="none" >
                    <mat-datepicker-toggle matSuffix [for]="reportSubmissionDate" class="datepikerSize"></mat-datepicker-toggle>
                    <mat-datepicker #reportSubmissionDate></mat-datepicker>
                  </mat-form-field>
                </div>
                <div fxFlex="33.33%" fxLayout.lt-md="100%" *ngIf="viewModelFormNew.get('reporterSourceOfReporting').value != 'Marketing authorization holder'">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Organization</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container" formControlName="reporterOrganization">
                      <mat-option *ngFor="let orzName of organaizationNameList" [value]="orzName.selectionKey">{{orzName.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="33.33%" fxLayout.lt-md="100%" *ngIf="viewModelFormNew.get('reporterSourceOfReporting').value === 'Marketing authorization holder'">
                  <mat-form-field class="custom-input-field">
                    <mat-label><h3><b>Company Name</b></h3></mat-label>
                    <mat-select class="white_background_mat_input_container" formControlName="reporterCompanyName">
                      <mat-option *ngFor="let cmpName of companyNameList" [value]="cmpName.selectionKey">{{cmpName.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
            <hr>
            <mat-card-content>
              <div fxLayout="row"  fxLayout.lt-md="column">
                <div fxFlex="50%" fxLayout.lt-md="100%">
                  <div fxLayout="row">
                    <div>
                      <button mat-raised-button color="primary" type="submit" [disabled]="!viewModelFormNew.valid" (click)="submitReport()">Submit Report</button>
                    </div>
                    <div style="padding-left: 10px;">
                      <button mat-raised-button color="warn" (click)="navigateCancelComponent()">Cancel</button>
                    </div>
                  </div>
                </div>
                <div fxFlex="25%" fxLayout.lt-md="100%"></div>
                <div fxFlex="25%" fxLayout.lt-md="100%"></div>
              </div>
            </mat-card-content>
          <hr>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
  <!-- <footer style="padding-bottom: 70px;">
    <mat-toolbar color="primary" class="footer-toolbar">
      <div class="footer-content">
        <div class="logo-container">
          <img src="https://pvtracker.jbrsoft.com/build/images/usaid-logo.png" alt="USAID Logo" height="40">
        </div>
        <div class="copyright-container">
          <p>&copy; <script>document.write(new Date().getFullYear())</script> 2023 <a href="https://jbrsoft.com/" target="_blank">JBRSOFT</a>.</p>
        </div>
      </div>
    </mat-toolbar>
  </footer> -->
  <footer fxLayout="row" fxLayoutGap="16px" fxLayout.lt-md="column" style="padding-bottom: 75px;" class="mobile-view">
    <mat-toolbar color="primary" class="footer-toolbar">
      <div class="footer-content" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
        <div fxFlex="15%" fxLayout.lt-md="100%" class="left" fxLayoutAlign.xs="center">
          <img [src]="usaidLogo" alt="USAID logo" style="max-width: 80%; height: auto;">
        </div>
        <div fxFlex="70%" fxLayout.lt-md="100%" class="center" style="text-align: center; font-size: 14px;">
          <p style="height: auto; text-wrap: balance; line-height: 17px;">
            This portal is made possible by the generous support of the American people through the US Agency for International Development (USAID) contract no. 7200AA18C00074. The contents are the responsibility of the authors and do not necessarily reflect the views of USAID or the US Government.
          </p>
        </div>
        <div fxFlex="15%" fxLayout.lt-md="100%" class="right" fxLayoutAlign.xs="center">
          <p>&copy; Maintained by: <a href="https://jbrsoft.com/" target="_blank">JBRSOFT</a>.</p>
        </div>
      </div>
    </mat-toolbar>
  </footer>  
</div>







  




